.todo-list {
  margin-bottom: 12rem;
}

.todo-list__container {
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  transition: box-shadow 1s;
}

.todo-list__list {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .todo-list {
    margin-bottom: 6rem;
  }
}