.main__header {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.heading {
  margin-right: auto;
  color: white;
  font-size: 3.5rem;
  letter-spacing: 1.875rem;
  line-height: 3.5rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 800px) {
  .main__header {
    margin-bottom: 6rem;
  }

  .heading {
    font-size: 5rem;
    line-height: 5rem;
  }
}