/************************  APP  ************************/
/* background images */


/* layout */
:global(body) {
  padding: 0 3rem;
  padding-top: 6rem;
}

.main {
  width: 100%;
  max-width: 67.5rem;
  margin: 0 auto;
  // margin-top: 6rem;
}

/* header */
.main__header {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.heading {
  margin-right: auto;
  color: white;
  font-size: 3.5rem;
  letter-spacing: 1.875rem;
  line-height: 3.5rem;
  text-transform: uppercase;
}



.note {
  margin-bottom: 1rem;
  font-size: 1.75rem;
}

.attribution {
  margin-bottom: 3rem;
  font-size: 11px;
}

.attribution a {
  color: var(--color-bright-blue);
}

/* media queries */
@media only screen and (min-width: 800px) {
  :global(body) {
    padding-top: 8.75rem;
  }

  .main__header {
    margin-bottom: 6rem;
  }

  .heading {
    font-size: 5rem;
    line-height: 5rem;
  }
}

/********************  TODO LIST  ********************/
/* layout */
.todo-list {
  margin-bottom: 12rem;
}

/* input */
.todo-list__input-wrapper {
  position: relative;
  margin-bottom: 2rem;
}

.todo-list__input-wrapper::before {
  content: '';
  position: absolute;
  top: 1.75rem;
  left: 3rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  background-color: transparent;
  transition: border 1s;
}

.todo-list__input {
  width: 100%;
  height: 6rem;

  border: none;
  border-radius: 5px;
  padding-left: 9rem;
  background: var(--color-surface);

  color: var(--color-text-active);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.25px;
  transition: background 1s, color 1s;
}

.todo-list__input::placeholder {
  color: var(--color-text-1);
  font-family: 'Josefin Sans', sans-serif;
  opacity: 1;
}

.todo-list__container {
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  transition: box-shadow 1s;
}

/* todo-list  */
.todo-list__list {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

/* footer */
.todo-list__footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 6.25rem;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 3rem;
  background: var(--color-surface);

  color: var(--color-text-1);
  font-size: 1.5rem;
  letter-spacing: -0.2px;
  line-height: 1.75rem;

  transition: background 1s, color 1s;
}

.todo-list__options-container {
  position: absolute;
  top: 8rem;
  left: 0;

  display: flex;
  width: 100%;
  height: 6rem;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: var(--color-surface);

  transition: background 1s, color 1s;
}

/* buttons */
button {
  color: var(--color-text-1);
  transition: color 0.3s;
}

button:hover {
  color: var(--color-text-active);
}

.todo-list__footer button {
  border: none;
  background: transparent;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}

.todo-list__options-container button {
  font-size: 1.75rem;
  font-weight: bold;
}

.todo-list__options-container button:not(:last-child) {
  margin-right: 2rem;
}

.active-filter {
  color: var(--color-bright-blue);
}

/* media queries */
@media only screen and (min-width: 600px) {
  .todo-list {
    margin-bottom: 6rem;
  }

  /* input */
  .todo-list__input-wrapper {
    margin-bottom: 3rem;
  }

  .todo-list__input-wrapper::before {
    top: 2.5rem;
    width: 3rem;
    height: 3rem;
  }

  .todo-list__input {
    height: 8rem;
    font-size: 2.25rem;
  }

  /* footer */
  .todo-list__footer {
    font-size: 1.75rem;
  }

  .todo-list__options-container {
    position: initial;
    display: initial;
    width: initial;
    height: initial;
    border-radius: initial;
    background: initial;
  }

  .todo-list__footer button {
    font-size: 1.75rem;
  }
}

/*************************  TODO  *************************/
@keyframes fadeOutLeft {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  50% {
    transform: translate(-20rem);
    opacity: 0;
  }
  100% {
    height: 0;
    transform: translate(-20rem);
    opacity: 0;
  }
}

.animation--fadeOut {
  animation: fadeOutLeft 1s;
}

/* styles */
.todo {
  display: flex;
  width: 100%;
  height: 6.5rem;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  padding: 0 3rem;
  background: var(--color-surface);
  color: var(--color-text-active);
  transition: border 1s, background 1s, color 1s;
}

.label {
  display: flex;
  align-items: center;
  margin-right: auto;
  cursor: pointer;
}

.checkbox:focus + .fake-checkbox-wrapper {
  outline: 2px dotted var(--color-text-active);
}

.fake-checkbox-wrapper {
  flex: 1 0 auto;
  position: relative;
  display: block;
  width: 3rem;
  height: 3rem;
  margin-right: 3rem;
  border-radius: 50%;
  padding: 1px;
  background: var(--color-border);
  transition: background 1s;
}

.fake-checkbox-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--gradient-primary);
  opacity: 0;
  transition: opacity 0.5s;
}

.label:hover .fake-checkbox-wrapper::before {
  opacity: 1;
}

.fake-checkbox {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--color-surface);
  transition: background 1s;
}

.icon-check {
  opacity: 0;
}

.btn-close {
  opacity: 0;
  border: none;
  padding: 0.75rem;
  background: transparent;
  cursor: pointer;
  transition: opacity 0.3s;
}

.btn-close:focus {
  opacity: 1;
}

.todo:hover .btn-close {
  opacity: 1;
}

.name {
  position: relative;
  font-size: 1.5rem;
  line-height: 2rem;
  // transition: color 0s;
}

.name::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--color-text-active);
  transition: width 1s, background 1s;
}

/* completed */
.completed .fake-checkbox-wrapper {
  background: var(--gradient-primary);
}

.completed .fake-checkbox {
  background: var(--gradient-primary);
}

.completed .icon-check {
  opacity: 1;
}

.completed .name {
  color: var(--color-text-completed);
}

.completed .name::before {
  width: 100%;
  background: var(--color-text-completed);
}

/* media queries */
@media only screen and (min-width: 600px) {
  .todo {
    height: 8rem;
  }

  .name {
    font-size: 2.25rem;
  }
}

/***********************  BUNDLE  ***********************/

body {
  padding: 0 3rem;
  padding-top: 6rem;
}
.main {
  width: 100%;
  max-width: 67.5rem;
  margin: 0 auto;
}
.main__header {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}
.heading {
  margin-right: auto;
  color: white;
  font-size: 3.5rem;
  letter-spacing: 1.875rem;
  line-height: 3.5rem;
  text-transform: uppercase;
}

.note {
  margin-bottom: 1rem;
  font-size: 1.75rem;
}
.attribution {
  margin-bottom: 3rem;
  font-size: 11px;
}
.attribution a {
  color: var(--color-bright-blue);
}
@media only screen and (min-width: 800px) {
  body {
    padding-top: 8.75rem;
  }
  .main__header {
    margin-bottom: 6rem;
  }
  .heading {
    font-size: 5rem;
    line-height: 5rem;
  }
}
.todo-list {
  margin-bottom: 12rem;
}
.todo-list__input-wrapper {
  position: relative;
  margin-bottom: 2rem;
}
.todo-list__input-wrapper::before {
  content: '';
  position: absolute;
  top: 1.75rem;
  left: 3rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  background-color: transparent;
  transition: border 1s;
}
.todo-list__input {
  width: 100%;
  height: 6rem;
  border: none;
  border-radius: 5px;
  padding-left: 9rem;
  background: var(--color-surface);
  color: var(--color-text-active);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.25px;
  transition: background 1s, color 1s;
}
.todo-list__input::placeholder {
  color: var(--color-text-1);
  font-family: 'Josefin Sans', sans-serif;
  opacity: 1;
}
.todo-list__container {
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  transition: box-shadow 1s;
}
.todo-list__list {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.todo-list__footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 6.25rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 3rem;
  background: var(--color-surface);
  color: var(--color-text-1);
  font-size: 1.5rem;
  letter-spacing: -0.2px;
  line-height: 1.75rem;
  transition: background 1s, color 1s;
}
.todo-list__options-container {
  position: absolute;
  top: 8rem;
  left: 0;
  display: flex;
  width: 100%;
  height: 6rem;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: var(--color-surface);
  transition: background 1s, color 1s;
}
button {
  color: var(--color-text-1);
  transition: color 0.3s;
}
button:hover {
  color: var(--color-text-active);
}
.todo-list__footer button {
  border: none;
  background: transparent;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}
.todo-list__options-container button {
  font-size: 1.75rem;
  font-weight: bold;
}
.todo-list__options-container button:not(:last-child) {
  margin-right: 2rem;
}
.active-filter {
  color: var(--color-bright-blue);
}
@media only screen and (min-width: 600px) {
  .todo-list {
    margin-bottom: 6rem;
  }
  .todo-list__input-wrapper {
    margin-bottom: 3rem;
  }
  .todo-list__input-wrapper::before {
    top: 2.5rem;
    width: 3rem;
    height: 3rem;
  }
  .todo-list__input {
    height: 8rem;
    font-size: 2.25rem;
  }
  .todo-list__footer {
    font-size: 1.75rem;
  }
  .todo-list__options-container {
    position: initial;
    display: initial;
    width: initial;
    height: initial;
    border-radius: initial;
    background: initial;
  }
  .todo-list__footer button {
    font-size: 1.75rem;
  }
}
@keyframes svelte-9x1i6p-fadeOutLeft {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  50% {
    transform: translate(-20rem);
    opacity: 0;
  }
  100% {
    height: 0;
    transform: translate(-20rem);
    opacity: 0;
  }
}
.animation--fadeOut {
  animation: svelte-9x1i6p-fadeOutLeft 1s;
}
.todo {
  display: flex;
  width: 100%;
  height: 6.5rem;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  padding: 0 3rem;
  background: var(--color-surface);
  color: var(--color-text-active);
  transition: border 1s, background 1s, color 1s;
}
.label {
  display: flex;
  align-items: center;
  margin-right: auto;
  cursor: pointer;
}
.checkbox:focus + .fake-checkbox-wrapper {
  outline: 2px dotted var(--color-text-active);
}
.fake-checkbox-wrapper {
  flex: 1 0 auto;
  position: relative;
  display: block;
  width: 3rem;
  height: 3rem;
  margin-right: 3rem;
  border-radius: 50%;
  padding: 1px;
  background: var(--color-border);
  transition: background 1s;
}
.fake-checkbox-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--gradient-primary);
  opacity: 0;
  transition: opacity 0.5s;
}
.label:hover .fake-checkbox-wrapper::before {
  opacity: 1;
}
.fake-checkbox {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--color-surface);
  transition: background 1s;
}
.icon-check {
  opacity: 0;
}
.btn-close {
  opacity: 0;
  border: none;
  padding: 0.75rem;
  background: transparent;
  cursor: pointer;
  transition: opacity 0.3s;
}
.btn-close:focus {
  opacity: 1;
}
.todo:hover .btn-close {
  opacity: 1;
}
.name {
  position: relative;
  font-size: 1.5rem;
  line-height: 2rem;
}
.name::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--color-text-active);
  transition: width 1s, background 1s;
}
.completed .fake-checkbox-wrapper {
  background: var(--gradient-primary);
}
.completed .fake-checkbox {
  background: var(--gradient-primary);
}
.completed .icon-check {
  opacity: 1;
}
.completed .name {
  color: var(--color-text-completed);
}
.completed .name::before {
  width: 100%;
  background: var(--color-text-completed);
}
@media only screen and (min-width: 600px) {
  .todo {
    height: 8rem;
  }
  .name {
    font-size: 2.25rem;
  }
}