body {
  padding: 0 3rem;
  padding-top: 6rem;
}

#root {
  width: 100%;
  max-width: 67.5rem;
  margin: 0 auto;
  // margin-top: 6rem;
}

@media only screen and (min-width: 800px) {
  body {
    padding-top: 8.75rem;
  }
}

/*******************  ANIMATIONS  *******************/
@keyframes fadeOutLeft {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  50% {
    transform: translate(-20rem);
    opacity: 0;
  }
  100% {
    height: 0;
    transform: translate(-20rem);
    opacity: 0;
  }
}

.animation--fadeOut {
  animation: fadeOutLeft 1s;
}