.main__footer {
  color: var(--color-text-1);
  letter-spacing: -0.2px;
  line-height: 1.75rem;
  text-align: center;
  transition: color 1s;

  .note {
    margin-bottom: 1rem;
    font-size: 1.75rem;
  }
}