@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

html {
  position: relative;
  box-sizing: border-box;
  font-size: 50%;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-position: bottom -1rem left -42rem, bottom -1rem right -42rem, top 360px right -20rem;
  background-repeat: no-repeat;
  background-size: 30rem, 30rem, 10rem;
  background-color: var(--color-bg);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.25rem;
  transition: background 1s;
  padding: 0 3rem;
  padding-top: 6rem;
}

#root {
  width: 100%;
  max-width: 67.5rem;
  margin: 0 auto;
  // margin-top: 6rem;
}

/***************************  THEME  ***************************/
:root {
    --color-bright-blue: hsl(220, 98%, 61%);
    --gradient-primary: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    --color-bg: hsl(0, 0%, 98%);
    --color-surface: hsl(0, 0%, 100%);
    --color-border: #e3e4f1;
    --color-text-active: hsl(235, 19%, 35%);
    --color-text-completed: hsl(233, 11%, 84%);
    --color-text-1: hsl(235, 9%, 61%);
    --box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}
.dark-theme {
    --color-bg: hsl(235, 21%, 11%);
    --color-surface: hsl(235, 24%, 19%);
    --color-border: #393a4b;
    --color-text-active: hsl(234, 39%, 85%);
    --color-text-completed: hsl(233, 14%, 35%);
    --color-text-1: hsl(235, 16%, 43%);
    --box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}
/***************************************************************/

/************************ ACCESSIBILITY ************************/
.sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
    overflow: hidden;
}

*:focus {
    outline: 2px dotted var(--color-text-active);
}
/***************************************************************/

/************************  ANIMATIONS  *************************/
@keyframes fadeOutLeft {
    0% {
        transform: translate(0);
        opacity: 1;
    }
    50% {
        transform: translate(-20rem);
        opacity: 0;
    }
    100% {
        height: 0;
        transform: translate(-20rem);
        opacity: 0;
    }
}
/***************************************************************/

.animation--fadeOut {
    animation: fadeOutLeft 1s;
}

@media only screen and (min-width: 600px) {
  body {
    background-size: 42rem, 42rem, 15rem;
  }
}

@media only screen and (min-width: 800px) {
  body {
    padding-top: 8.75rem;
  }
}